body {
    color: white;
    background-color: black;
}
button {
    background-color: rgb(0, 195, 0);
    color: white;
    font-size: 50px;
    border-radius: 30px;
    align-items: center;
}
p {
    font-size: 50px;
    text-align: center;
}